<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicrecommendationapp">

    <queries>
        <package android:name="com.spotify.music"/>
    </queries>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicRecommendationApp">
        <activity
            android:name="com.example.musicrecommendationapp.SettingsActivity"
            android:parentActivityName="com.example.musicrecommendationapp.MainActivity" />
        <activity
            android:name="com.example.musicrecommendationapp.ArtistActivity"
            android:parentActivityName="com.example.musicrecommendationapp.MainActivity" />
        <activity
            android:name="com.example.musicrecommendationapp.SongActivity"
            android:parentActivityName="com.example.musicrecommendationapp.MainActivity" />
        <activity
            android:name="com.example.musicrecommendationapp.AlbumActivity"
            android:parentActivityName="com.example.musicrecommendationapp.MainActivity" />
        <activity android:name="com.example.musicrecommendationapp.SongDetailActivity"
            android:parentActivityName="com.example.musicrecommendationapp.SongActivity"/>
        <activity android:name="com.example.musicrecommendationapp.ArtistDetailActivity"
            android:parentActivityName="com.example.musicrecommendationapp.ArtistActivity" />
        <activity android:name="com.example.musicrecommendationapp.AlbumDetailActivity"
            android:parentActivityName=".AlbumActivity" />
        <activity
            android:name="com.example.musicrecommendationapp.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MusicRecommendationApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>